.SearchBox{
    color: white;
    background-color: #27263D;
    display: flex;
    height: 120px;
    align-items: baseline;
    width: 100%;
}

.SearchBox>input{
    border-radius: 20px;
    height: 25px;
    margin-left:50px;
    width: 250px;
    outline:none;
}

.Logo{
    margin-left:50px;
}
